.productCard {
	padding: 30px 23px;
	border-radius: 10px;
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
	display: flex;
	flex-direction: column;
}

.imgWrapper {
	text-align: center;
	max-width: 270px;
	margin: 0 auto;
}

.iconWrapper {
	display: flex;
	gap: 7px;
	margin-bottom: 10px;
}

.size {
	color: #3f4e65;
	font-size: 12px;
}
.sizeValue {
	margin-left: 4px;
}

.title {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 15px;
}

.barcode,
.manufacturer,
.brand {
	color: #3f4e65;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 5px;
}
.brand {
	margin-bottom: 15px;
}

.value {
	color: #111111;
	font-weight: 500;
	margin-left: 5px;
}

.bottomWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: auto;
}

.price {
	color: #111111;
	font-size: 16px;
	font-weight: 800;
}

.currency {
	margin-left: 4px;
}

@media (max-width: 465px) {
	.productCard {
		padding: 30px 15px;
	}
}
