.catalogWrapper {
	padding-bottom: 100px;
}

.sortingWrapper {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.sortingSelectWrapper {
	position: relative;
}
.sortTitle {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
}
.sortShowSelect {
	border: none;
	border-radius: 10px;
	color: #3f4e65;
	font-size: 16px;
	font-weight: 400;
	padding: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.sortShowSelect:hover {
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.5);
	transition: 0.3s;
}
.arrowSortIcon {
	margin-left: 5px;
	transition: 0.3s;
}

.sortSelect {
	color: #3f4e65;
	font-size: 16px;
	font-weight: 400;
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.21);
	border-radius: 10px;
	background-color: #fff;
	left: 96px;
	position: absolute;
	display: none;
}
.sortSelectItem {
	width: 240px;
	padding: 5px 10px;
	cursor: pointer;
	transition: 0.5s;
}
.sortSelectItem:hover {
	border-bottom: 1px solid #d9dce0;
	transition: 0.5s;
}

.sortShowSelect.isActive + .sortSelect {
	display: block;
}
.sortShowSelect.isActive .arrowSortIcon {
	transform: rotate(180deg);
	transition: 0.3s;
}

.topMenu {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
	gap: 10px;
	margin-bottom: 30px;
}

.topItem {
	color: #3f4e65;
	line-height: 17px;
	padding: 18px 15px;
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.5s;
}
.topItem:hover {
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.topItem.isActive {
	background-color: #ffc85e;
	color: #fff;
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.5);
}

.catalog {
	display: grid;
	grid-template-columns: 238px 1fr;
	gap: 50px 108px;
}

.aside {
}

.asideTitleWrapper {
	display: flex;
	align-items: center;
}
.showFilter {
	background-color: #ffe4b2;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: none;
}

.showFilter.isActive .filterIcon {
	transform: rotate(180deg);
}

.asideTitleWrapper {
	margin: 20px 0 10px;
}
.asideTitle {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	margin-right: 10px;
}
.priceTitle {
	color: #3f4e65;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 15px;
}
.currency {
	color: #111111;
	font-size: 14px;
	font-weight: 500;
	margin-left: 5px;
}
.priceGroup {
}
.priceInput {
	color: #3f4e65;
	background-color: #ffeecc;
	border: none;
	border-radius: 1000px;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	width: 100px;
	height: 23px;
	margin-bottom: 30px;
}
.priceInput:focus {
	outline: none;
	box-shadow: 0 0 3px 1px #3f4e65;
}
.priceLine {
	margin: 0 10px;
}

.manufacturerWrapper {
	margin-bottom: 20px;
	border-bottom: 1px solid #c5cad1;
}
.manufacturerTitle {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.checkboxesWrapper {
	margin: 15px 0;
}

.checkboxesGroup {
	margin-bottom: 5px;
}

.label {
	color: #3f4e65;
	font-size: 14px;
	padding-left: 10px;
}

.showAllManufacturer {
	color: #3f4e65;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	border: none;
	margin-top: 15px;
	margin-bottom: 25px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.arrowShowAll {
	margin-left: 5px;
	transition: 0.3s;
}

.showAllManufacturer.isActive .arrowShowAll {
	transform: rotate(180deg);
	transition: 0.3s;
}

.btnsGroup {
	display: flex;
	gap: 10px;
	margin-bottom: 40px;
}

.filter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.filterTitle {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.filterItem {
	color: #3f4e65;
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s;
}
.filterItem:hover {
	/* box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.5); */
	font-weight: 800;
	padding-left: 10px;
	transition: 0.5s;
}
.filterItem.isActive {
	background-color: #ffc85e;
	color: #fff;
	padding: 5px 10px;
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.5);
}

.content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
	align-items: baseline;
	gap: 21px;
}

.seoText {
	grid-column: 2/3;
	max-width: 910px;
}

@media (max-width: 925px) {
	.sortingWrapper {
		display: block;
	}
	.sortingSelectWrapper {
		margin-bottom: 35px;
	}
}

@media (max-width: 725px) {
	.topMenu {
		display: none;
	}
	.catalog {
		grid-template-columns: auto;
		gap: 85px;
	}
	.asideWrapper {
		display: none;
		margin-bottom: 15px;
	}
	.asideTitleWrapper {
		margin: 0 0 10px;
	}
	.showFilter {
		display: flex;
	}
	.asideWrapper.isActive {
		display: block;
	}
	.filterTitle {
		display: none;
	}
	.seoText {
		grid-column: initial;
	}
}

@media (max-width: 465px) {
	.showFilter {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 369px) {
	.sortSelect {
		left: 0;
	}
}
