.product {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	padding: 50px 0;
}

.imgWrapper {
	text-align: center;
	margin-bottom: 5px;
	max-width: 664px;
	height: 470px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.inStock {
	font-size: 14px;
	font-weight: 500;
}

.yes {
	color: #1fd85d;
}

.no {
	color: #c54a4a;
}

.title {
	color: #111111;
	font-size: 30px;
	font-weight: 500;
	line-height: 45px;
	margin-bottom: 10px;
}

.iconWrapper {
	display: flex;
	gap: 7px;
	margin-bottom: 15px;
}

.size {
	color: #3f4e65;
	font-size: 12px;
}
.sizeValue {
	margin-left: 4px;
}

.priceWrapper {
	display: flex;
	gap: 40px;
	align-items: center;
	margin-bottom: 20px;
}

.price {
	color: #111111;
	font-size: 30px;
	font-weight: 800;
}

.currency {
	margin-left: 5px;
}

.quantityWrapper {
}
.minus,
.plus {
	background-color: #ffefd1;
	padding: 4px 13px;
	border-radius: 1000px;
	color: #3f4e65;
	font-size: 12px;
	font-weight: 300;
	cursor: pointer;
}
.quantity {
	color: #3f4e65;
	font-size: 14px;
	font-weight: 500;
	margin: 0 20px;
}

.info {
	display: flex;
	gap: 10px;
	margin-bottom: 35px;
}
.share {
	padding: 25px 29px;
	box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.15);
	border-radius: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.delivery {
	color: #3f4e65;
	font-size: 12px;
	max-width: 316px;
	padding: 20px 35px;
	box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.15);
	border-radius: 10px;
}
.priceList {
	color: #3f4e65;
	font-size: 14px;
	font-weight: 700;
	box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.15);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 30px 65px 30px 37px;
	position: relative;
}
.priceList::after {
	content: '';
	position: absolute;
	right: 37px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 17px;
	height: 17px;
	background: url('../../assets/images/download-black.svg') no-repeat;
}

.featureShort {
	margin-bottom: 30px;
}

.destination,
.type,
.manufacturer,
.brand,
.vendorCode,
.barcode,
.weight,
.volume,
.countInBox {
	color: #3f4e65;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 5px;
}

.value {
	color: #111111;
	font-weight: 500;
	margin-left: 5px;
}

.descriptionWrapper {
	margin-bottom: 20px;
}

.descriptionTitle,
.featureTitle {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}

.description {
	color: #3f4e65;
	font-size: 12px;
	font-weight: 300;
}
