.footer {
	background-color: #3f4e65;
	color: #fff;
}

.container {
	max-width: 1406px;
	margin: 0 auto;
	padding: 70px 20px 115px;
	display: grid;
	grid-template-columns: 282px auto auto auto auto;
	gap: 95px;
}

.colInfo {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 282px;
}

.logo {
	max-width: 156px;
	width: 100%;
	max-height: 66px;
	height: 100%;
}

.infoText {
	font-size: 16px;
	margin-bottom: 30px;
}
.infoSubscribe {
	font-size: 12px;
}

.title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 25px;
}

.item {
	margin-bottom: 20px;
}
.link {
	color: #fff;
	font-size: 14px;
}

.conection {
	margin: 20px 0 15px;
}

.socialWrapper {
	display: flex;
	gap: 10px;
}

.phoneWrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-bottom: 25px;
}

.phone {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.workTime {
	font-size: 12px;
	font-weight: 300;
}

.phoneWrapper .callback {
	color: #fff;
	font-size: 10px;
	text-decoration: underline;
}

.mail {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}

.mailText {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 25px;
}

.cardWrapper {
	display: flex;
	gap: 5px;
}

@media (max-width: 1360px) {
	.container {
		gap: 25px;
	}
}

@media (max-width: 1100px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}
}
