.title {
	color: #111111;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin: 50px 0 20px;
}

.addingProduct {
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 50px;
}
.subTitle {
	color: #3f4e65;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 25px;
}

.group {
	margin-bottom: 15px;
}

.label {
	color: #111111;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 10px;
}

.textarea {
	display: block;
	background-color: #ededed;
	padding: 21px 20px;
	border-radius: 36px;
	border: none;
	min-height: 175px;
	height: 100%;
	width: 100%;
	resize: none;
}
.textarea:placeholder {
	color: #5c6370;
	font-size: 12px;
}
.textarea:focus {
	box-shadow: inset 0 0 7px 3px #888;
	outline: none;
}

.checkbox {
	margin-right: 10px;
}

.fileInput {
	display: block;
	margin-bottom: 15px;
}
