.hTag {
	color: #111111;
	font-size: 40px;
	font-weight: 500;
	line-height: 48px;
	text-transform: uppercase;
	padding-bottom: 50px;
}

@media (max-width: 725px) {
	.hTag {
		font-size: 32px;
		padding-bottom: 25px;
	}
}

@media (max-width: 465px) {
	.hTag {
		font-size: 26px;
	}
}

@media (max-width: 375px) {
	.hTag {
		font-size: 20px;
	}
}
